---
import InfoCard from "@/components/InfoCard.astro"
import ProductCard from "@/components/ProductCard.astro"
import Layout from "@/layouts/Layout.astro"
import { getCollection } from "astro:content"

export const prerender = true

const cards = [
	{
		title: "Контроль качества на всех этапах",
		count: "01",
		description:
			"Мы работаем только с проверенными заводами, а вся продукция проходит сертификацию и тестирование.",
	},
	{
		title: "Прямые поставки без переплат",
		count: "02",
		description:
			"Закупаем товары напрямую у производителей в Китае, России и Казахстане, что позволяет удерживать цены на минимальном уровне.",
	},
	{
		title: "Быстрая логистика и гибкие условия",
		count: "03",
		description:
			"Доставка от 7 до 30 дней. Работаем с заказами любой сложности, подбирая оптимальные решения под нужды клиента.",
	},
]

const steps = [
	{
		step: "1",
		title: "Оставьте заявку",
		description: "Отправьте всю нужную информацию.",
	},
	{ separator: true },
	{
		step: "2",
		title: "Мы позвоним",
		description: "Наш специалист свяжется с вами и обсудит все вопросы.",
	},
	{ separator: true },
	{
		step: "3",
		title: "Заключаем договор",
		description: "Указываем перечень работ, сроки, стоимость и порядок оплаты.",
	},
]

const title = "Запорная арматура"
const description =
	"Надежные затворы для контроля потока. Компактные, герметичные, устойчивы к агрессивным средам. Идеальны для воды, газа и химических жидкостей."

const images = [
	{
		src: "/images/f.png",
		title: "Задвижки: стальные, чугунные",
	},
	{
		src: "/images/1.png",
		title: "Клапан",
	},
	{
		src: "/images/2.png",
		title: "Краны шаровые",
	},
	{
		src: "/images/3.png",
		title: "Затворы",
	},
	{
		src: "/images/trubi.jpg",
		title: "Трубы",
	},
	{
		src: "/images/trubi1.png",
		title: "Отводы и тройники",
	},
]

const products = await getCollection("products")
---

<Layout title={title} description={description}>
	<div class="text-center py-[40px]">
		<h1 class="text-5xl lg:text-7xl font-black mb-6">Запорная арматура</h1>
		<div class="flex flex-wrap gap-3 py-12 justify-center">
			{
				images &&
					images.map(img => (
						<img
							src={img.src}
							class="border-[0.5px] rounded-lg shadow-sm object-cover w-[90px] h-[90px] md:w-[120px] md:h-[120px]"
							alt={img.title}
						/>
					))
			}
		</div>
		<p class="text-xl max-w-2xl mx-auto text-zinc-600">
			Безопасность, надежность и долговечность — запорная арматура, на которую можно
			положиться в любых условиях!
		</p>
		<a
			href="#products"
			class="text-white block mt-12 transition-colors hover:bg-blue-600 bg-blue-500 rounded-lg px-5 max-w-xs mx-auto font-medium py-2"
			>К товарам</a
		>
	</div>

	<div class="text-center">
		<span class="text-4xl block pb-8 font-bold">Почему мы?</span>
		<p class="text-lg font-light text-zinc-600 leadint-relaxed">
			Мы предлагаем надежные решения в сфере запорной арматуры и трубопроводных систем,
			обеспечивая выгодные условия и быструю доставку.
		</p>
	</div>
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
		{
			cards &&
				cards.map(item => (
					<InfoCard
						title={item.title}
						description={item.description}
						count={item.count}
					/>
				))
		}
	</div>
	<div class="text-center" id="products">
		<span class="text-4xl block pb-8 font-bold">Наша продукция</span>
		<p class="text-lg text-zinc-600 leadint-relaxed">
			Широкий ассортимент надежной и высококачественной запорной арматуры и трубопроводных
			деталей, которые подойдут для самых различных отраслей: от <b>водоснабжения</b> и
			<b>теплоснабжения до нефтегазовой промышленности.</b> Мы предлагаем продукцию по конкурентным
			и доступным ценам, сохраняя высокие стандарты качества.
		</p>
	</div>

	<div class="grid items-start grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
		{products && products.map(item => <ProductCard id={item.id} data={item.data} />)}
	</div>

	<div class="text-center">
		<span class="text-4xl block pb-12 font-bold">Как мы работаем?</span>
		<div class="flex md:flex-row flex-col">
			{
				steps.map(item =>
					item.separator ? (
						<div class="bg-blue-500 w-1 md:w-5 h-10 md:h-1 self-center" />
					) : (
						<div class="bg-zinc-100 rounded-lg flex flex-col p-6 md:w-1/3">
							<div class="flex items-center gap-3">
								<span class="rounded-full bg-blue-500 h-[32px] flex items-center justify-center w-[32px] text-white text-xl">
									{item.step}
								</span>
								<h3 class="font-bold text-2xl">{item.title}</h3>
							</div>
							<div class="mt-4">
								<p class="text-left text-lg text-zinc-600 leading-relaxed">
									{item.description}
								</p>
							</div>
						</div>
					),
				)
			}
		</div>
		<a
			href="https://wa.me/77074989953?text=Здравствуйте!%20Хочу%20оставить%20заявку.%20Подскажите%2C%20какие%20данные%20нужно%20отправить%3F"
			target="_blank"
			class="text-white block mt-12 transition-colors hover:bg-blue-600 bg-blue-500 rounded-lg px-5 max-w-xs mx-auto font-medium py-2"
			>Отправить информацию.</a
		>
	</div>

	<div class="flex gap-12 md:flex-row flex-col items-center">
		<script
			type="text/javascript"
			charset="utf-8"
			async
			src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa928f852281c639b529c63bf952df08f9066616c07fee63b12e18c445c350b13&width=100%&height=450&lang=ru_RU&scroll=true"
		></script>
		<div class="text-center -order-1 md:order-1 shrink-0" id="contacts">
			<div class="flex flex-col gap-3">
				<span class="text-2xl font-bold">Контакты</span>
				<div class="flex items-center gap-4 justify-center">
					<a href="tel:+77767177175" class="text-blue-500 text-lg">+7 776 717 71 75</a>
					<a href="tel:+77477463135" class="text-blue-500 text-lg">+7 747 746 31 35</a>
				</div>
				<a href="https://go.2gis.com/X0CdH" class="text-zinc-600" target="_blank"
					>070002, Усть-Каменогорск , улица Бажова, д.5/1</a
				>
			</div>
		</div>
	</div>
</Layout>
