---
import Layout from "@/layouts/Layout.astro"
import { Image } from "astro:assets"
import { getCollection, render } from "astro:content"

export async function getStaticPaths() {
	const posts = await getCollection("products")
	return posts.map(post => ({
		params: { slug: post.id },
		props: post,
	}))
}
const post = Astro.props
const { Content } = await render(post)
---

<Layout {...post.data} type ogImage={post.data.ogImage?.src}>
	<div class="mx-auto container px-5 flex flex-col gap-6">
		<div class="flex items-center md:flex-nowrap flex-wrap gap-6">
			<Image
				class="object-contain rounded-xl max-w-full h-[320px]"
				src={post.data.ogImage}
				alt={post.data.title}
			/>
			<div class="flex flex-col gap-6">
				<h1 class="text-5xl font-black">{post.data.title}</h1>
				<p class="text-xl text-zinc-600 leading-relaxed">{post.data.description}</p>
				<a
					target="_blank"
					href={`https://wa.me/77074989953?text=Здравствуйте!%20Интересует%20товар%20"${post.data.title}"\n\n.%0A%0AТовар:%20${new URL(Astro.url, Astro.site)}`}
					class="text-white transition-colors hover:bg-blue-600 bg-blue-500 rounded-lg px-5 self-start font-medium py-2"
					>Заказать</a
				>
			</div>
		</div>
		<main class="mt-12 prose prose-lg prose-blue max-w-none"><Content /></main>
	</div>
</Layout>
